# Grading scripts results
*.csv

# Gradle
.gradle/
build/

# Android Studio / IntelliJ
*.iml
.idea/
out/
local.properties

# Eclipse
.classpath
.project
.settings/
bin/

# macOS
.DS_Store

# Linux
*~

# Java crash logs
hs_err_pid*
